src/*.exe
src/globalbestcoin
src/globalbestcoind
src/test_globalbestcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.globalbestcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
globalbestcoin-qt
Globalbestcoin-Qt.app

# Unit-tests
Makefile.test
globalbestcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
